<table class="row content">  
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="text-pad">
            <h3>Hi, <%= current_page.data.to %>!</h3>
            <p><%= current_page.data.content %></p>
            <p>Sinceirely yours, <br /><%= current_page.data.from %></p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>