<table class="row footer">  
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td>
            <center>
              Follow us on <a href="https://twitter.com/TomazZaman/">Twitter!</a>
            </center>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>