<table class="row header">  
  <tr>
    <td class="wrapper">
      <table class="eight columns">
        <tr>
          <td class="text-pad">
            Awesome Logo here
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
    <td class="wrapper last">
      <table class="four columns">
        <tr>
          <td class="text-pad">
            <img src="http://placehold.it/32x32" alt="Avatar" />
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>